:root {
    font-size: 10px;
    --bg-color:hsl(120, 20%, 1%);
    --text-color:#dddbda;
    --text-color-alt: #fff;
}

h1,h2,h3,h4 {font-family: 'Russo One', sans-serif;font-weight: 700; color: var(--text-color-alt); text-transform: uppercase;}

.container {max-width: 1280px;padding: 0 1rem; margin: 0 auto;}

section {padding: 5rem 0;}
.section-top {margin-bottom: 4rem;}
.section-title {font-size: 4rem; line-height: 1;}
.section-subtitle {font-size: 1.75rem;}

.text-right {text-align: right;}
.text-center {text-align: center;}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Play', sans-serif;
    font-size: 1.5rem;
}

/* ---------HEADER---------- */

.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 18rem;
}

.mobile-logo {
  display: none;
}

.tel {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color-alt);
}

.header-toggle {
  display: flex;
  align-items: center;
  border-inline: 1px solid rgba(255, 255, 255, .1);
}

.nav-btn, .social-btn {
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
}

.nav-btn {
  padding: 1.8rem 2rem;
  font-weight: 400;
  font-size: 2rem;
  border-left: 1px solid rgba(255, 255, 255, .1);
}

.social-panel {
  position: relative;
}

.social-btn {
  padding: 1rem 2rem;
  position: relative;
  width: min-content;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  color: #111;
  z-index: 10;
}

.social-list {
  position: absolute;
  left: 0;
  top: -350%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  opacity: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.social-close > svg {
  fill: #000;
  width: 2.5rem;
  height: 2.5rem;
}

.social-close {
  cursor: pointer;
  padding-top: .5rem;
  width: 100%;
  text-align: center;
}

.social-link {
  display: flex;
  align-items: center;
  gap: .4rem;
  padding: .3rem 0;
  color: #000;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
}

.social-link > img {
  width: 40px;
}

.social-list > img {
  padding-top: .5rem;
  align-self: center;
}

/* --------NAVPAGE---------- */

.nav-page {
    position: fixed;
    top: -130%;
    z-index: 999;

    height: 100vh;
    width: 100%;
    padding: 0 5rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;

    background-color: #111;
    opacity: 0;
}

.nav {
  position: relative;
    display: flex;
    flex-direction: column;
}

.nav::after {
    content: 'Menu';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .1);
    z-index: -999;
}

.nav-link {
    font-size: 6rem;
    font-family: 'Russo One', sans-serif;
    color: var(--text-color-alt);

    margin-top: 2rem;
    opacity: 0;
    transition: color .2s ease-in-out;
}

/* .nav-link:hover {
    transform: scale(1.1);
} */

.nav-link > div {
    display: inline;
    font-size: 2rem;
}

.info-row {
    margin-bottom: 2rem;
}

.info-title {
    font-size: 3rem;
}

.info-social {
  display: flex;
  gap: .5rem;
}

.info-icon {
  width: 72px;
}

.nav-close {
    position: absolute;
    top: 5rem;
    right: 5rem;
    cursor: pointer;
}

.nav-close > svg {
    width: max(5vw, 4rem);
    fill: #fff;
}

/* --------INTRO---------- */

.intro {
    position: relative;
    overflow: hidden;
}

.intro-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

.intro-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 0;
}

.intro-inner {
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 47rem;
}

.intro-title {
    font-size: 5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.btn {
    display: flex;
    border: 2px solid #185234;
    border-radius: 5px;
    padding: 1rem 2rem .75rem;
    text-transform: uppercase;
    font-size: 1.75rem;
    background-color: #185234;
    color: var(--text-color-alt);
    transition: opacity .1s linear;
}

.btn:hover {
    opacity: .8;
}

.btn > svg {
  width: 3rem;
  height: 3rem;
  margin-left: .5rem;
  fill: var(--text-color);
}

.intro-img {
    max-width: 45rem;
}

/* --------SERVICES---------- */

.services__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
  }
  
  .services__card {
    min-height: 32rem;
    text-align: center;
    border-radius: 5px;
    padding: 3rem 3rem 0;
    color: #ffffff;
    transform-style: preserve-3d;
    perspective: 1000px;
  
    box-shadow: 0 0 10px black;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .services__card::after {
    content: '';
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: -1;
    border-radius: 5px;
  }
  
  .services__card:nth-child(1) {
    background: url(../img/services/ventilator.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card:nth-child(2) {
    background: url(../img/services/laptop.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card:nth-child(3) {
    background: url(../img/services/internet.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card:nth-child(4) {
    background: url(../img/services/windows.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card:nth-child(5) {
    background: url(../img/services/pc.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card:nth-child(6) {
    background: url(../img/services/program.jpg) center no-repeat;
    background-size: cover;
  }
  
  .services__card>.js-tilt-glare {
    border-radius: 5px;
  }
  
  .services__card-img {
    width: 90px;
    margin-bottom: 2rem;
  }

  .services__card:nth-child(5) > .services__card-img {
    margin-bottom: 1rem;
  }
  
  .services__card-text {
    font-size: 2.2rem;
    text-transform: uppercase;

    line-height: 1.2;
  }
  
  .services__card-img,
  .services__card-text {
    transition: transform 0.2s linear;
  }
  
  .services__card:hover .services__card-img {
    transform: translateZ(50px);
  }
  
  .services__card:hover .services__card-text {
    transform: translateZ(50px);
  }

/* --------DROPLIST---------- */

.full-services {
  position: relative;
  color: #fffffe;
}
.full-services__list {
  display: flex;
  flex-direction: column;
}
.full-services__list-item {
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #111;
  border: .2rem solid rgba(0, 0, 0, .4);
  transition: background-color 0.2s linear;
}

.full-services__list-item:hover .full-services__list-link {
  background-color: #1e4933;
}
.full-services__list-item.active {
  transition: background-color 0.3s linear;
  background-color: #1e4933;
}
.full-services__list-item.active .full-services__list-link {
  transition: background-color 0.1s linear;
  background-color: rgba(255, 255, 255, 0.05);
}
.full-services__list-item.active .full-services__list-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.full-services__list-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.75rem;
  position: relative;
}
.full-services__list-arrow {
  width: 15px;
  height: 15px;
  transition: transform 0.1s linear, fill 0.1s linear;
}
.full-services__list-arrow.active {
  transform: rotateZ(180deg);
}
.full-services__droplist {
  max-width: 1200px;
  display: none;
  flex-direction: column;
  gap: .3rem;
}
.full-services__droplist.active {
  display: flex;
}
.full-services__droplist-item {
  padding: .2rem 2rem;
  font-size: 1.5rem;
  position: relative;
  font-weight: 300;
}
.full-services__droplist-item::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  left: 4px;
}
.full-services__droplist span {
  font-weight: 600;
}
.full-services__note {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0;
}
.full-services__note span {
  color: red;
}

.full-services__bottom {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
}

.full-services__bottom > .btn::after {
  transform: rotate(90deg);
  top: 30%;
  right: 5px;
}

/* --------FEATURES---------- */

.features {
  background-color: rgba(0, 0, 0, .4);
}

.features-inner {
  padding: 5rem 0;
  display: flex;
  justify-content: space-around;
}

.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.features-title {
  text-align: center;
  font-family: Play, sans-serif;
  font-weight: 400;
  font-size: 2.1rem;
}

/* --------SWIPER reviews---------- */

.reviews > .container {
  display: flex;
}

.reviews-title {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 1rem;
  writing-mode: vertical-lr;
}

.slide-author {
  color: #111;
  line-height: 1.6;
}

.slide-subtitle {
  position: absolute;
  width: 8rem;
  font-size: 1rem;
  top: 3rem;
  right: 2rem;
  background-color: #dddbda;
  color: #000;
  transform: rotate(30deg);
  opacity: .5;
}

.slide-text {
  font-size: 1.6rem;
}

.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 3.5rem;
  background-color: #fff;
  color: #111;
}

.swiper-button-next {
  width: 1.5rem;
  height: 2.5rem;
  background-color: #111;
}

.swiper-button-prev {
  width: 1.5rem;
  height: 2.5rem;
  background-color: #111;
}

/* --------CONTACTS---------- */
.contacts {
  background-color: #000;
}

.contacts__inner {
  margin-bottom: 3rem;
}

.info.contacts {
  display: flex;
  justify-content: space-around;
}

.info.contacts > .info-row {
  text-align: center;
}

.contacts__map .map {
  pointer-events: none;
  border-radius: 10px;
  max-width: 100%;
  margin: 0 auto;
  height: 50rem;
}

.footer {
  background-color: #000;
  padding: 4rem 0;
  text-align: center;
}

.footer-copyright {
  margin-right: 11rem;
}


/* ----------------МЕДИА ЗАПРОСЫ------------- */
@media (max-width: 1200px) {
  .header > .container {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 9px;
  }

  .intro-inner {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 2rem;
  }

  .intro-img {
    max-width: 50rem;
  }

  .intro-content {
    max-width: 70rem;
    text-align: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 8px;
  }

  .nav-page {
    flex-direction: column;
    gap: 5rem;
  }

  .nav {
    align-items: center;
  }

  .info {
    text-align: center;
  }

  .social-btn {
    padding: 1.5rem 2rem;
  }

  .logo {
    padding: .5rem;
  }

  .services__card {
    min-height: 35rem;
  }

  .features-inner {
    padding: 0;
  }

  .info.contacts {
    flex-direction: column;
    align-items: center;
  }

  .footer {
    padding: 0 0 2rem;
  }
  
  .footer-copyright {
    margin: 0;
  }
}

@media (max-width: 533px) {
  .services {
    padding: 0 6rem 5rem;
  }

  .tel {
    display: none;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 7px;
  }

  .social-list {
    top: -400px;
  }

  .social-link > img {
    width: 30px;
  }

  .tel {
    display: none;
  }

  .section-title {
    font-size: 3.5rem;
    text-align: center;
  }

  .section-subtitle {
    text-align: center;
  }

  .services {
    padding: 0 3rem 5rem;
  }

  .features-inner {
    flex-direction: column-reverse;
    gap: 4rem;
  }

  .features-title {
    padding: 0.5rem 1rem;
    border: 1px solid #fff;
    border-radius: 5px;
  }

  .features-card > img {
    max-height: 200px;
  }

}


/* GLITCH */

.glitch {
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}

.glitch span {
  position: absolute;
  top: 0;
  left: 0;
}

.glitch span:first-child {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
  /* color: green; */
  opacity: 0.8;
}

.glitch span:last-child {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
  transform: translate(0.0125em, 0.025em);
  /* color: red; */
  opacity: 0.8;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}


